<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>960 Grid System &mdash; Demo</title>
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/text.css" />
<link rel="stylesheet" href="css/960_24_col.css" />
<link rel="stylesheet" href="css/apm.css" />
</head>
<body>
<div class="container_24">
  <h2>
    24 Column Grid
  </h2>
  <div class="grid_24">
    <p>
      950
    </p>
  </div>
  <!-- end .grid_24 -->
  <div class="clear"></div>
  <div class="grid_8">
    <p>
      310
    </p>
  </div>
  <!-- end .grid_8 -->
  <div class="grid_16">
    <p>
      630
    </p>
  </div>
  <!-- end .grid_16 -->
  <div class="clear"></div>
 </div>
<!-- end .container_24 -->
</body>
</html>